@{
    ViewData["Title"] = "Order Detail Form";
}
@model Admin3.Models.OrderModel;

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Order Form</h5>

        <!-- Multi Columns Form -->
        <form asp-controller="Order" asp-action="OrderSave" class="row g-3">
            @* <div class="col-md-4">
                <label asp-for="OrderNO" for="inputState" class="form-label">Order NO</label>
                <input asp-for="OrderNO" placeholder="Enter Order NO" type="text" class="form-control" id="inputZip">
                <span asp-validation-for="OrderNO"></span>
            </div> *@
            <div class="col-md-4">
                <label asp-for="OrderDate" for="inputState" class="form-label">Order Date</label>
                <input asp-for="OrderDate" placeholder="Enter Order Date" type="date" class="form-control" id="inputZip">
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="CustomerID" for="inputState" class="form-label">Customer ID</label>
                <select asp-for="CustomerID" id="inputState" class="form-select" asp-items="@(new SelectList(ViewBag.CList,"CustomerID","CustomerName"))">
                    <option value="">Chose Order Id</option>
                </select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PaymentMode" for="inputState" class="form-label">PaymentMode</label>
                <input asp-for="PaymentMode" placeholder="Enter PaymentMode" type="text" class="form-control" id="inputZip">
                <span asp-validation-for="PaymentMode" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="TotalAmount" for="inputState" class="form-label">TotalAmount</label>
                <input asp-for="TotalAmount" type="text" class="form-control" id="inputZip" placeholder="Enter PaymentMode">
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ShippingAddress" for="inputState" class="form-label">Shipping Address</label>
                <input asp-for="ShippingAddress" placeholder="Enter Shipping Address" type="text" class="form-control" id="inputZip">
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="UserID" for="inputState" class="form-label">User ID</label>
                <select asp-for="UserID" id="inputState" class="form-select" asp-items="@(new SelectList(ViewBag.UList,"UserID","UserName" ))">
                    <option value="">Chose User Id</option>
                </select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="text-center">
                <input type="hidden" name="OrderId" asp-for="OrderID" />
                <button type="submit" class="btn btn-primary">Submit</button>
                @* <button type="reset" class="btn btn-secondary">Reset</button> *@
            </div>
        </form><!-- End Multi Columns Form -->
        <form method="post" asp-action="Cancel" asp-controller="Order">
            <button type="submit" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div>